.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
}
.nav{
  display: flex;
  background-color: #3b5999;
  justify-content: center;
  margin: auto;
  width: 700px;
  justify-content: space-between;
  height: 7rem;
}
.img{
  display: flex;
  justify-content: start;
  width: 50%;
}
#ulRigth{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}
li{
  list-style: none;
  color: white;
  cursor: pointer;

}
.side{
  width: 200px;
}
#myForm{
  padding: 0;
}


.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button{
  background-color: #3b5999;
  color: white;
  border: none;
}
.Well{
  border: 1px solid #3b5999 ;
  padding: 10px;
}
.titre{
  background-color:#3b5999 ;
  width: 506px;
  height: 18px;
  margin-top: -20px;

}
.myli{
  color: black;
  list-style: ridge ;
  text-align: start;
}